@using DriverAssigner.Models;
@model List<Driver>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Drivers</title>
</head>
<body>
    <header><h1>Drivers</h1></header>
    <div>
        @foreach (Driver d in Model){
            <div>@d.FirstName @d.LastName<br />@d.LastAssignment</div>
            <hr />
        }
    </div>
</body>
</html>
